.landing-header {
	background-color: #ffffff;
}

.landing-header__inner {
	padding: 12px;
	text-align: center;
}

.landing-header__logo {
	display: block;
	margin: 0 auto;
	max-width: 160px;
}
.landing-section {
	overflow-x: hidden;
}
.content-wrapper {
	max-width: 1340px;
}
.product-section__outer {
	padding-top: 32px;
	padding-bottom: 32px;
}
.product-section__container {
	display: flex;
	justify-content: center;
	gap: 64px;
	flex-wrap: wrap;
}
.product-card {
	width: 100%;
}
.product-card__image {
}
.product-card__image-main {
	position: relative;
	display: flex;
	justify-content: center;
}
.product-card__image img {
	border-radius: 8px;
	max-width: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}
.product-card__image__badge {
	position: absolute;
	display: flex;
	justify-content: center;
	font-size: 14px;
	bottom: 32px;
	text-align: center;
}
