:root {
	--font-primary: "Nunito", sans-serif;
	--font-heading: "Lora", serif;
	--font-body: "Montserrat", sans-serif;
	--font-body-style: normal;
	--font-body-weight: 400;
	--font-body-weight-bold: 700;
	--font-body-scale: 1;
	--width-wrapper: 1340px;
	--color-background: #ffffff;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--font-body);
	line-height: calc(1 + 0.8 / var(--font-body-scale));
	font-weight: var(--font-body-weight);
	font-style: var(--font-body-style);
	letter-spacing: 0.06rem;
}
section {
	display: block;
	unicode-bidi: isolate;
}
h1,
h2,
h3 {
	font-family: var(--font-heading);
}
p {
	font-family: var(--font-primary);
}

/* Header Styles */
.landing-header {
	background-color: #ffffff;
}
.landing-header__inner {
	padding: 12px;
	text-align: center;
}
.landing-header__logo {
	display: block;
	margin: 0 auto;
	max-width: 160px;
}
/* Landing Page Styles */
.landing-section {
	overflow-x: hidden;
}
.content-wrapper {
	max-width: var(--width-wrapper) !important;
	margin: 0 auto;
}
@media screen and (min-width: 750px) {
	.content-wrapper {
		padding: 0 5rem;
	}
	/* html {
		font-size: 1.6rem;
	} */
}
@media screen and (min-width: 750px) {
	body {
		font-size: 1.6rem;
	}
}
/* Product Section Styles */
.product-section__outer {
	padding-top: 32px;
	padding-bottom: 32px;
}
.product-section__container {
	display: flex;
	gap: 64px;
}
.product-card {
	width: 100%;
}
/* Product Card Left Styles */
.product-card__image img {
	width: 100%;
}
.product-card__image-main {
	position: relative;
	display: flex;
	justify-content: center;
}
.product-card__image img {
	border-radius: 8px;
	/* max-width: 100%; */
	object-fit: cover;
	aspect-ratio: 1;
	overflow: hidden;
}
.product-card__image__info {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 32px;
	text-align: center;
	background-color: #ffffffd9;
	border-radius: 24px;
	border: 1px solid black;
	cursor: pointer;
	font-size: 14px;
	max-width: 290px;
	padding: 8px 24px;
	line-height: 1.2em;
	gap: 8px;
}
.product-card__image__info span {
	display: flex;
	align-items: center;
}
.product-card__image__info img {
	width: 24px;
}
.product-card__image__badge {
	position: absolute;
	right: 16px;
	display: block;
	top: 16px;
	max-width: 120px;
}
.product-card__image-sec {
	display: flex;
	justify-content: center;
	gap: 16px;
	margin: 16px 0;
}
.product-card__image-sec img {
	object-fit: cover;
	aspect-ratio: 1;
	border-radius: 8px;
	overflow: hidden;
}
.product-card__image-third {
	display: flex;
	gap: 16px;
	margin: 16px 0;
}
/* Product Card Right Styles */
.product-card__review {
	margin-bottom: 16px;
	gap: 16px;
	display: flex;
	align-items: center;
}
.product-card__review img {
	width: 100px;
	display: block;
	height: auto;
}
.product-card__review p {
	font-size: 16px;
	line-height: 1.3em;
	margin: 0;
}
.product-card__title {
	font-size: 28px;
	font-weight: 400;
	line-height: 1.4em;
	margin: 16px 0;
}
.product-card__sub-line {
	display: flex;
	align-items: center;
	gap: 12px;
	margin: 16px 0;
}
.product-card__sub-line > div:nth-child(1) {
	width: 10%;
	display: flex;
	align-items: center;
}
.product-card__sub-line > div:nth-child(2) {
	width: 100%;
}
.product-card__sub-line img {
	width: 100%;
}
.product-card__sub-line p {
	font-size: 16px;
}
